@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

#app {
  height: 100vh;
  position: relative;
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
}
.sidebar-content {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: #69b0b1;
  height: 100%;
}
.sidebar {
  background: linear-gradient(180deg, #d78db3, #f4f2ea);
}
.sidebar.collapsed + main {
  margin-left: 5em;
}
.sidebar.collapsed + main header {
  width: calc(100% - 5em);
}
.custom-control-label::before {
  border: #69b0b1 solid 2px;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.sidebar.collapsed .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-control-input:checked + .custom-control-label::after {
  background-color: #69b0b1;
  border-radius: 0.25rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  text-decoration: none;
}

.form-control {
  background-color: #ffffff00;
  border: unset;
  border-radius: unset;
  color: #0c2e3a;
  border-bottom: 2px solid #e1e1e1;
  border-image: linear-gradient(45deg, #d78db3, #69b0b1) 1;
}

.form-control::placeholder {
  color: #a3a3a3;
}

.form-control:focus {
  background-color: #ffffff00;
  outline: unset;
  box-shadow: unset;
}
.btn-cancel, .btn-info {
  background-color: #bbbbbb;
  color: white;
  border: unset;
  border-radius: 3rem;
  padding: 0.5rem 2rem;
  width: 100%;
  text-transform: uppercase;
}
.btn-primary {
  background-color: #d78db3;
  color: white;
  border: unset;
  border-radius: 3rem;
  padding: 0.5rem 2rem;
  width: 100%;
  text-transform: uppercase;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.modal-footer .btn:hover {
  color: #fff;
  background-color: #69b0b1 !important;
  border-color: #69b0b1 !important;
}

.btn-edit {
  padding: 0.3rem 1.9rem 0.3rem 1.5rem;
}

.btn-sidebar:focus,
.btn-sidebar:active {
  box-shadow: unset !important;
  background-color: unset !important;
}

.custom-checkbox {
  padding-left: 2rem;
  color: #f4f2ea;
}

.form-control:disabled {
  background-color: white;
}

tbody tr:hover {
  color: #f4f2ea !important;
  background-color: #3f3f47 !important;
}

.modal-content {
  background-color: white;
  border: unset !important;
}

.modal-title,
label {
  color: #69b0b1;
}
.custom-file-label {
  border-radius: 19px;
  border: 1px solid #e9ecef;
}
.custom-select {
  background-color: #ffffff00;
  border-radius: 3rem;
  color: #69b0b1;
}

.custom-select option {
  background-color: #f4f2ea;
}

.modal-footer .btn {
  width: unset;
}

.modal-footer .btn:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.dropdown-no-style .btn , .dropdown-no-style .btn:active {
  background-color: unset !important;
  border: unset;
  padding: unset;
}
.dropdown-no-style .btn::after {
  content: unset;
}

.btn-remove-user, .btn-remove-user:hover, .btn-remove-user:active {
  padding: 0;
  background-color: unset;
  border: unset;
  color: inherit !important;
  margin-left: auto;
}

#carousel-product .carousel-indicators{
  margin-bottom: 0.5em 
}
#carousel-product .carousel-indicators li{
  background-color: #d78db3;
}
#carousel-product .carousel-item{
  height: 14em;
}
#carousel-product .img-fluid{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* width */
::-webkit-scrollbar {
  width: .5em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d78db3;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #69b0b1;
}